@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Yeseva+One&display=swap');

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  min-height: 100vh;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}
 
button {
  border: none;
}

/* TYPOGRAPHY */
h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Yeseva One', cursive;
}

h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.panorama {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* LAYOUT */
.container {
  max-width: 80vw;
  margin: 0 auto;
}


/* BUTTONS */
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  box-shadow: 5px 5px 8px rgba(120, 120, 120, 0.1);
  font-family: 'Roboto', sans-serif;
  transition: all .3s ease 0s;
}

.btn-full {
  background-color: #000;
  color: #fff;
  border: .8px #000 solid;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.btn-full:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-ghost {
  background-color: #fff;
  color: #000;
  border: .8px #000 solid;
}

.btn-white {
  background-color: #fff;
  color: #000;
  border: .8px #fff solid;
}

.btn-ghost:hover,
.btn-white:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 10px rgba(110, 110, 110, 0.2);
}


/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 0 3px 20px #aaa;
  background-color: #fff;
  box-shadow: 0px -5px 42px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  z-index: 1001;
  padding: 0 10%;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  padding-left: 18px;
}

#logo {
  width: 55px;
  cursor: pointer;
}

/* HEADER */
header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header-copy {
  padding-top: 25px;
}

.header-copy h1 {
  font-size: 52px;
  margin: 10px 0 5px;
}

.header-copy h3 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
}

.header-copy p {
  line-height: 32px;
  font-weight: 300;
  margin-top: 20px;
}

.header-btn {
  display: flex;
  align-items: center;
}

.header-btn li {
  padding: 39px 20px 20px 2px;
}

/* BRAND CARDS */
.brand-cards {
  display: flex;
  justify-content: space-between;
  padding: 10px 17px 30px 7px;
}

.brand-card {
  width: 300px;
  text-align: center;
  box-shadow: 7px 8px 14px rgba(100, 100, 100, 0.1);
  border-radius: 5px;
  padding: 20px;
}

.brand-card-copy {
  min-height: 200px;
}